@font-face {
  font-family: 'Perfectly Nineties';
  src: url('/_assets/fonts/PerfectlyNineties-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Perfectly Nineties';
  src: url('/_assets/fonts/PerfectlyNineties-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-size: 16px;
  --text-s: 0.8rem;
  --text-l: 1.2rem;
  --padding-xs: calc(var(--padding) / 4);
  --padding-s: calc(var(--padding) / 2);
  --padding: 1rem;
  --padding-m: calc(var(--padding) * 1.5);
  --padding-l: calc(var(--padding) * 2);
  --padding-xl: calc(var(--padding) * 3);
  --padding-xxl: calc(var(--padding) * 4);
  --black: oklch(20.27% 0.01 39.3);
  --orange: oklch(0.69 0.1594 46.61);
  --black: #000;
  --white: #fff;
  --orange-300: oklch(0.85 0.1594 46.61);
  --orange-700: oklch(0.49 0.1594 46.61);
  --brown: oklch(0.28 0.0352 46.61);
}

* {
  box-sizing: border-box;
}

/* GLOBAL LAYOUT -------------------------- */

html, body {
  min-height: 100vh;
}

header > nav, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-xl);
}

body {
  font-family: 'Lucida Grande';
  color: var(--white);
  line-height: 1.5;
  background-color: var(--black);
  width: 912px;
  margin: var(--padding) auto var(--padding-xxl) auto;
  padding-bottom: var(--padding-xxl);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: var(--padding-xxl);
}

/* any page that doesn't have a sidebar nav inside */
main:not(:has(nav + section)) {
  margin-left: var(--padding-xxl);
  margin-right: var(--padding-xxl);
}

main > section {
  margin-bottom: var(--padding-xxl);
}

/* NAV + SECTION inside of main (docs) */
main > nav {
  width: 256px;
  flex-shrink: 0;
}
main > section {
  flex: 1;
}
main:has(nav+section) {
  display: flex;
  gap: var(--padding-l);
}

/* TYPOGRAPHY -------------------------- */

h1, h2, h3, h4, p.h3 {
  font-family: 'Perfectly Nineties';
  font-weight: 600;
}
h1 { font-size: 3rem;}
h2 { font-size: 2.4rem; }
h3, p.h3 { font-size: 1.8rem; }
h4 { font-size: 1.4rem; }

p { margin: 0 0 var(--padding-s) 0}
p.small-text { font-size: 0.8rem;}

h1, h2, h3, h4, p { margin-bottom: var(--padding-s); }
h1 + p { margin-top: var(--padding); }
h2:not(:first-child) { margin-top: var(--padding-xl); }
h3 { margin-top: var(--padding-l); }
h4 { margin-top: var(--padding-s); }
ul, p { margin-top: 0px; }

a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--orange);
}

nav a {
  text-decoration: none;
}
header nav a {
  font-size: var(--text-l);
  font-family: 'Perfectly Nineties';

}


/*------------SECTIONS------------*/

/*-----homepage sections-----*/

section#hero-banner img {
  width: 100%;
}

section#feature-list {
  border-top: 2px solid var(--orange);
  border-bottom: 2px solid var(--orange);
  padding: var(--padding) var(--padding-xl);
}
section#feature-list div:not(:last-child) {
  margin-bottom: var(--padding-l);
}

/*------------MAIN------------*/


code {
  font-family: "Inconsolata";
  font-size: inherit;
}
pre {
  color: var(--white);
  padding: var(--padding) var(--padding-l);
  /* border: 1px solid var(--orange-300); */
  background-color: var(--brown);
}
pre > code {
  /* display: flex; */
  overflow-x: auto;
  max-width: 100%;
}
code:not(pre>code) {
  font-weight: 800;
}



/* Responsive */

@media screen and (max-width: 1024px)
{
  .md\:hidden {
    display: none;
  }

  body > section > *, 
  body > header > *, 
  body > footer > * {
    padding-left: var(--6);
    padding-right: var(--6);
  }
  body > section {
    padding-top: var(--8);
    padding-bottom: var(--8);
  }
  body > section:last-of-type {
    padding-bottom: var(--16) !important;
  }
  body > #subscribe {
    margin-top: var(--8);
  }
}

@media screen and (max-width: 640px)
{
  .sm\:hidden {
    display: none;
  }
  .sm\:stack {
    flex-direction: column;
  }

  body {
    --h1-size: var(--8);
    --h2-size: var(--6);
    --h3-size: var(--5);
  }

  section nav {
    position: relative;
  }

  body > header > nav {
    padding-top: var(--4);
    padding-bottom: var(--4);
  }
  body > footer > nav {
    padding-top: var(--4);
    padding-bottom: var(--4);
  }

  button, .button {
    border-radius: 8px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    height: 2.5rem;
  }
  main h2, main h3, img, p {
    margin-bottom: var(--2);
  }
  main h2, main h3 {
    margin-top: var(--3);
  }
}
